

<div class="custome-background-all">
  {{> company-sidenav-customize customer=true}}
  <div class="main-content pl-5" id="panel">
    
    <!-- Page content -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid pt-4">
        <div class="header-body">
          <!-- <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/staff/customer">Customer</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Accepted</li>
                </ol>
              </nav>
            </div>
          </div> -->
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body m-hover clickable-row" data-href='/company/customer'>
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Pending customer
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{cnt_pending}}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="
                          icon icon-shape
                          bg-gradient-orange
                          text-white
                          rounded-circle
                          shadow
                        "
                      >
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-orange mr-2"
                      ><i class="ni ni-money-coins mr-2"></i> View</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body m-hover clickable-row" data-href='/company/customer/accepted'>
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Accepted customer
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{cnt_accepted}}</span>
                    </div>
                    <divni-circle-08 class="col-auto">
                      <div
                        class="
                          icon icon-shape
                          bg-gradient-green
                          text-white
                          rounded-circle
                          shadow
                        "
                      >
                        <i class="fas fa-arrow-up"></i>
                      </div>
                    </divni-circle-08>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"
                      ><i class="fas fa-arrow-up mr-2"></i>View</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body m-hover clickable-row" data-href='/company/customer/declined'>
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Declined customer
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{cnt_cancelled}}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="
                          icon icon-shape
                          bg-gradient-red
                          text-white
                          rounded-circle
                          shadow
                        "
                      >
                        <i class="ni ni-time-alarm"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-danger mr-2"
                      ><i class="ni ni-time-alarm mr-2"></i>View</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body m-hover">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Repored customer
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{cnt_reported}}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="
                          icon icon-shape
                          bg-gradient-red
                          text-white
                          rounded-circle
                          shadow
                        "
                      >
                        <i class="ni ni-single-02"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-danger mr-2"
                      ><i class="ni ni-single-02 mr-2"></i>View</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- SEARCH BRANCH -->
          <form action="/company/customer/search-accepted" method="GET">
            <div class="row align-items-center pr-3 pl-3">
              <div class="col-md-9">
                <h2 class="text-white fw-bold">{{disBranch displayBranch.name}}</h2>
              </div>
              <div class="col-sm-3 mb-2 text-right">
                <select name="branch_id" class="custom-select" required onchange="this.form.submit()">
                    <option selected>Select Branch</option>
                    {{#each myBranches}}
                      {{#each ../branches}}
                        {{#ifStatement this._id ../this.branch_id}}
                          <option value="{{this._id}}">{{this.name}}</option>
                          {{/ifStatement}}
                        {{/each}}
                    {{/each}}
                  </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <!-- ACCTIVE USERS -->
      <div class="row" id="active-users-tab">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col mb-2">
                  <h3 class="mb-0">Accepted customer</h3>
                </div>
                <div class="col-sm-3 text-right">
                  <input type="text" id="searchCustomer" class="form-control" placeholder="Search name.." onkeyup="myFunction()">
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush table-hover" id="calendar_table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Interest</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Date Accepted</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each customers}}
                  {{#each ../customers_info}}
                    {{#ifStatement this._id ../this.customer_id}}
                      <tr class="m-hover" data-toggle="modal" onclick="$('#{{../this._id}}-select-customer').modal()">
                        <td scope="row">
                          {{toUpper this.firstname}} {{middleInitials this.middlename}} {{toUpper this.lastname}}
                        </td>
                        <td>
                          {{this.barangay}} {{this.city}}, {{this.province}}
                        </td>
                        <td>
                          {{this.email}}
                        </td>
                        <td>
                          {{this.phone_number}}
                        </td>
                        <td class="text-danger">
                          {{../this.interest}}%
                        </td>
                        <td class="text-success">
                          {{comma ../this.capital}}
                        </td>
                        <td>
                          {{convertDate ../this.date_accepted 'MMMM DD, YYYY'}}
                        </td>
                      </tr>
                      {{/ifStatement}}
                  {{/each}}
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="card-footer border-0">
              <div class="row">
                <div class="col-sm-12 text-right">
                  <div class="col">
                    <small class="text-muted">This customer is not payed</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &copy; 2021 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Start-up</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>  
</div>

<!-- Modal UPDATE CUSTOMER -->
{{#each customers}}
{{#each ../customers_info}}
{{#ifStatement this._id ../this.customer_id}}
<div class="modal fade bd-example-modal-lg" id="{{../this._id}}-select-customer" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Selected customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body pb-0 pt-0">
            <div class="row">
              <div class="col-sm-4 mt-1">
                <span class="f-15 f-gray-d ml-1">Fullname</span>
                  <input type="text" class="form-control mb-2 mt-1" disabled value="{{toUpper this.firstname}} {{middleInitials this.middlename}} {{toUpper this.lastname}}">
              </div>
              <div class="col-sm-4 mt-1">
                <span class="f-15 f-gray-d ml-1">Email</span>
                  <input type="text" class="form-control mb-2 mt-1" disabled value="{{this.email}}">
              </div>
              <div class="col-sm-4 mt-1">
                <span class="f-15 f-gray-d ml-1">Phone number</span>
                  <input type="text" class="form-control mb-2 mt-1" disabled value="{{this.phone_number}}">
              </div>
              <div class="col-sm-4 mt-1 mb-1">
                <span class="f-15 f-gray-d ml-1">Branch</span>
                <input type="text" class="form-control mb-2 mt-1" disabled value="{{#each ../../branches}}{{#ifStatement this._id ../../this.branch_id}}{{this.name}}{{/ifStatement}}{{/each}}">
              </div>
              <div class="col-sm-8 mt-1">
                <span class="f-15 f-gray-d ml-1">Address</span>
                  <input type="text" class="form-control mb-2 mt-1" disabled value="{{this.barangay}} {{this.city}}, {{this.province}}">
              </div>
              <div class="col-sm-12  pt-0 pb-0 mt-0 mb-0">
                <hr>
              </div>
              <div class="col-sm-3">
                <span class="f-15 f-gray-d ml-1">Capital Interest</span>
                  <input value="{{capitalInterest ../this.capital ../this.interest ../this.months}}" id="{{../this._id}}-capital-interest" type="text" class="form-control mb-2 mt-1 disable-input" disabled>
              </div>
              <div class="col-sm-3">
                <span class="f-15 f-gray-d ml-1">Total</span>
                  <input value="{{capitalTotal ../this.capital ../this.interest ../this.months}}" id="{{../this._id}}-capital-interest-total" type="text" class="form-control mb-2 mt-1 disable-input" disabled>
              </div>
              <div class="col-sm-3">
                <span class="f-15 f-gray-d ml-1">Collect</span>
                <input value="{{capitalCollect ../this.capital ../this.interest ../this.months ../this.type}}" id="{{../this._id}}-collect" type="text" class="form-control mb-2 mt-1 disable-input" disabled>
              </div>
              <div class="col-sm-3">
                <span class="f-15 f-gray-d ml-1">Interest</span>
                <input id="{{../this._id}}-interest" value="{{../this.interest}}" type="text" class="form-control mb-2 mt-1 disable-input" disabled>
              </div>
              <div class="col-sm-6">
                <span class="f-15 f-gray-d ml-1">Capital</span>
                <input type="text" class="form-control mb-2 mt-1" disabled value="{{../this.capital}}">
              </div>
              <div class="col-sm-3">
                <span class="f-15 f-gray-d ml-1">Months to pay</span>
                <input type="text" class="form-control mb-2 mt-1" disabled value="{{../this.months}}">
              </div>
              <div class="col-sm-3">
                <span class="f-15 f-gray-d ml-1">Mode of payment</span>
                <input type="text" class="form-control mb-2 mt-1" disabled value="{{#ifStatement ../this.type 1}}Daily{{/ifStatement}}{{#ifStatement ../this.type 6}}Weekly{{/ifStatement}}{{#ifStatement ../this.type 15}}Biweekly{{/ifStatement}}{{#ifStatement ../this.type 30}}Monthly{{/ifStatement}}{{#ifStatement ../this.type 360}}Yearly{{/ifStatement}}">
              </div>
              <div class="col-sm-3 mt-2">
                <span class="f-15 f-gray-d ml-1">Branch</span>
                <input type="text" class="form-control mb-2 mt-1" disabled value="{{#each ../../branches}}{{#ifStatement this._id ../../this.branch_id}}{{this.name}}{{/ifStatement}}{{/each}}" disabled>
              </div>
              <div class="col-sm-3 mt-2">
                <span class="f-15 f-gray-d ml-1">Collector</span>
                <input type="text" class="form-control mb-2 mt-1" disabled value="{{#each ../../collectors_info}}{{#ifStatement ../../this.collector_id this._id}}{{toUpper this.firstname}} {{middleInitials this.middlename}} {{toUpper this.lastname}}{{/ifStatement}}{{/each}}">
              </div>
              <div class="col-sm-6 mt-2">
                <span class="f-15 f-gray-d ml-1">Status</span>
                <input type="text" class="form-control mb-2 mt-1" disabled value="{{../this.isStatus}}">
              </div>
              <div class="col-sm-12 pt-0 pb-0 mt-0 mb-0"><hr></div>
              <div class="col-sm-12  pt-0 pb-0 mt-0 mb-0">
                <h5>Paid Transaction</h5>
                {{#each ../../paid_customer}}
                  <div class="row pl-3 pr-3">
                    {{#ifStatement this.customer_id ../this._id}}
                        <div class="col-sm-3 pt-2" style="border: 1px solid rgb(240, 240, 240); border-radius: 5px;">
                          <h4><span class="fw-bold">Company name:</span> {{#each ../../../company_info}}{{#ifStatement this._id ../this.company_id}}{{this.company_name}}{{/ifStatement}}{{/each}}</h4>
                          <h4><span class="fw-bold">Capital:</span> {{this.capital_total}}</h4>
                          <h4><span class="fw-bold">Date started:</span> {{convertDate this.date_accepted 'MMMM DD, YYYY'}}</h4>
                          <h4><span class="fw-bold">Date end:</span> {{convertDate this.date_end 'MMMM DD, YYYY'}}</h4>
                          <h4><span class="fw-bold">Date paid:</span> {{convertDate this.date_payed 'MMMM DD, YYYY'}}</h4>
                        </div>
                    {{/ifStatement}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        <div class="modal-footer"> 
          <input type="button" value="Close" class="btn btn-secondary" data-dismiss="modal">
        </div>
    </div>
  </div>
</div>
{{/ifStatement}}
{{/each}}
{{/each}}

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>