<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<div class="landing-container">
  {{> navbar-top landing=true}}
  <div class="customize-container">
    <div class="row pb-5">
      <div class="col-sm-5 pl-4 landing-con-left">
        <h1 class="text-break landing-text-header fw-bold f-white">
          Connecting <span class="fw-normal">the</span><br />
          Borrower  <span class="fw-normal">and</span> Micro Lending Community
        </h1>
        <div class="landing-text-sub">
          <span class="f-15 f-white"
            >Easy-lend offers a unique ways in providing and giving services to
            the micro lending organizations and individuals that can change the
            way they see things impossible to happen to possible! </span
          ><br /><br />
        </div>
        <a href="#aboutus"
          ><button type="button" class="btn btn-outline-light br-5 fw-bold">
            Get Started!
          </button></a
        >
      </div>
      <div class="col-sm-7 landing-svg-right">
        <center>
          <div
            data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-duration="2300"
          >
            <img
              src="../assets/svg/landingpage.svg"
              class="img-fluid hide-div"
            />
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
<!-- ABOUT US -->
<div class="about-container" id="aboutus" style="background-color: #f1f3f8">
  <div class="customize-container-fit pb-5">
    <div class="row pb-5">
      <div class="col-sm-6 pl-3 about-text">
        <h1 class="fw-bold f-black">About us</h1>
        <p>
          Easy lend is a subscription-base system that allows them to manage
          their lending organizations using mobile and web technologies,
          allowing them to concentrate on their day-to-day business operations.
          <br /><br />It also serves as a tool for providing and giving good
          services towards the clients who wanted to lend money in an easiest
          manner.
        </p>
      </div>
      <div class="col-sm-6 about-img">
        <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
          <img src="/assets/img/theme/write.svg" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6 order-xl-2 pl-3">
        <h1 class="fw-bold f-black">Features</h1>
        <p>
          <b>Convenience:</b> In terms of payment collections, as well as
          transparency through the provision of customer reports in a
          hustle-free manner.<br /><br />
          <b>Day by Day Activities:</b> With the help of Web and Mobile
          technologies, it allows them to manage their day-to-day business
          operations.<br /><br />
          <b>Mobile-friendly:</b> It makes financing easier and streamlines the
          procedure for both the customer and the business.<br /><br />
          <b>Secured Services:</b> Data security is concerned with the
          management of confidential and financial information of customers.<br /><br />
        </p>
      </div>
      <div class="col-md-6 order-xl-1">
        <div data-aos="fade-up"  data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
          <img src="/assets/img/theme/holding-phone.svg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- STEPS TO BORROW -->
<div class="steps-container pb-5" style="background-color: white">
  <div class="steps-header">
    <center>
      <h1 class="fw-bold f-black">Steps to borrow</h1>
      <p>
        By following the methods and directions below, customers can improve
        their ability to utilize and execute the system efficiently.
      </p>
    </center>
  </div>
  <div class="row">
    <div class="col-sm-6 steps-text">
      <div class="step">
        <h4 data-step-id="1">Register your profile</h4>
        <p class="f-15">
          Registration is required to utilize our service, which means you'll
          need an email address and password. <br /><br /><a
            class="f-13 f-black-l"
            href="/register"
            >Sign up here >
          </a>
        </p>
      </div>
      <div class="step">
        <h4 data-step-id="2">Choose your lends</h4>
        <p class="f-15">
          It's method of determining which loan firm you should choose to lend
          money to.
        </p>
      </div>
      <div class="step">
        <h4 data-step-id="3">Get Approval</h4>
        <p class="f-15">
          Before data may formally begin or be processed to the next level,
          microlending managers and directors must allow it.
        </p>
      </div>
    </div>
    <div class="col-sm-6 pt-5">
      <div data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
        <img src="/assets/img/theme/walking.svg" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
<!-- REGISTER TO YOUR COMPANY -->
<div class="steps-container pb-5" id="pricing">
  <div class="row pb-5">
    <div class="col-sm-12 pb-5">
      <div class="register-header mb-3">
        <center>
          <h1 class="fw-bold f-black">Get the right plan for future product</h1>
          <p>
            Register your microlending business so that clients have certain
            information, such as your company precise location.
          </p>
        </center>
      </div>
    </div>
    <div class="col-sm-4 m-0 p-3">
      <div style="background-color: white" class="pt-4 pb-5 rounded">
        <center>
          <div data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
            <p>Starter</p>
            <br />
            <h1 class="fw-bold">Free</h1>
            <p>Get 1 Month free</p>
            <p>Register your Company</p>
            <br /><br /><br />
            <a href="/register">
              <button class="btn btn-secondary">Get Started</button>
            </a>
          </div>
        </center>
      </div>
    </div>
    <div class="col-sm-4 m-0 p-0">
      <div
        style="background-color: #5148ea; color: white"
        class="pt-5 pb-5 rounded"
      >
        <center>
          <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
            <p>Premium</p>
            <br />
            <h1 class="fw-bold text-white">₱20/month</h1>
            <p>Get 1 year advance</p>
            <p>
              ₱20 per accepted customer<br />
              every month
            </p>
            <br /><br /><br />
            <a href="/register">
              <button class="btn btn-secondary">Get Started</button>
            </a>
          </div>
        </center>
      </div>
    </div>
    <div class="col-sm-4 m-0 p-3">
      <div style="background-color: white" class="pt-4 pb-5 rounded">
        <center>
          <div data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
            <p>Enterprise</p>
            <br />
            <h1 class="fw-bold">₱25/month</h1>
            <p>Get 6 months advance</p>
            <p>
              ₱25 per accepted customer<br />
              every month
            </p>
            <br /><br /><br />
            <a href="/register">
              <button class="btn btn-secondary">Get Started</button>
            </a>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
{{> footer landingPage=true}}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
