<!-- <div class="{{#if landingPage}}landing-footer-parent{{else}}footer-parent{{/if}}">
    <footer class="footer-customize pb-0">
      <div class="row pb-2 pt-3">
          <div class="col-sm-3 pt-3">
              <a href="/">
                  <img src="../assets/img/brand/favicon-white.png"/>
              </a>
              <p class="f-white f-13 mb-1">Lorem Africa is an online education platform that delivers video courses, programs
                  and resources.</p>
              <a href="/">
                  <img src="../assets/img/brand/favicon-white.png" class="icon-size" />
              </a>
              <a href="/">
                  <img src="../assets/img/brand/favicon-white.png" class="icon-size" />
              </a>
              <a href="/">
                  <img src="../assets/img/brand/favicon-white.png" class="icon-size" />
              </a>
              <a href="/">
                  <img src="../assets/img/brand/favicon-white.png" class="icon-size" />
              </a>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-3 f-white f-13 pt-4">
              <span class="f-bold">Quicklinks</span><br>
              <p class="f-line2 p-0 f-white pt-2">
                  <a href="/landing" class="a-hover f-white f-13">Home</a><br>
                  <a href="#aboutus" class="a-hover f-white f-13">About us</a><br>
                  <a href="/contactus" class="a-hover f-white f-13">Contact us</a><br>
                  <a href="#pricing" class="a-hover f-white f-13">Pricing</a>
              </p>
          </div>
          <div class="col-sm-3 f-white f-13 pt-4 pr-5">
              <span class="f-bold">Contact Us</span><br>
              <p class="f-line2 f-13 pt-2">
                  (+55) 254. 254. 254<br>
                  Info@lsemajafrica.com<br>
                  Helios Tower 75 Tam Trinh Hoang Mai
              </p>
          </div>
          <div class="col-sm-2 f-white f-13 pt-5">
              <div style="height: 40px;"></div>
              <p class="f-line2 f-13">
                  <a>Terms and Conditions</a><br>
                  <a>Faq</a>
              </p>
          </div>
      </div>
    </footer>
    <footer class="footer-footer pb-2">
      <div class="d-flex justify-content-between pt-3">
          <div>
              <span class="f-12 f-bold f-white f-line2">All Right Reserved | easylend 2021</span>
          </div>
          <div>
              <span class="f-12 f-bold f-white">Privacy Policy</span>
          </div>
      </div>
    </footer>
  </div> -->


  <div class="row footer-customize-part2 hide-div">
    <div class="col-sm-6">
        <span class="f-12 f-bold f-white f-line2">All Right Reserved | easylend 2021</span>
    </div>
    <div class="col-sm-6 text-right">
        <span class="f-12 f-bold f-white">Privacy - Policy</span>
    </div>
  </div>